<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>VAP Wine Reviews</title>
</head>
<body>
  <div class="main">
    <h1>Wine Reviews</h1>
    <div class="newbutton">
        <a href="/articles/new"><button type="button">New Review</button></a>
    </div>  
    <ul class="cards">

        <% articles.forEach(article => { %>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="data:image/png;base64,<%= article.picture %>" /></div>
              <div class="card_content">
                <h2 class="card_title"><%= article.title %></h2>
                <p2 class="card_date"><%= article.createdAt.toLocaleDateString() %></p2>
                <p class="card_text"><%= article.description %></p>
                <a href="articles/<%= article.id %>"><button class="btn card_btn">Read More</button></a>
              </div>
            </div>
          </li>

        <%}) %>

    </ul>
  </div>
</body>
</html>